@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #FFA400;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;

}

.logo {
    background: url("../imagens/logo.png");
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2A2A72;
    height: 8vh;
}

main{
    background: url("../imagens/ondas.svg") no-repeat center center; 
    background-size: cover; 
    height: 92vh;

}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2A2A72;
}

.hero-container {
    /* max-width: 2500px; */
    margin: 0 auto;
    background-color: #EAF6FF;
    height: 30%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    opacity: 90%;
    border: solid 2px #2A2A72;
}

.hero-container h2 {
    font-size: 22px;
}


.nav-list {
    list-style: none;
    display: flex; align-items: center;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}



.pic-container, .pic-container a {
    height: 50px; width: 50px;
}
.ppic {
    width: 100%; height: 100%;
    
    border-radius: 100%;
    object-fit: cover;
}



@media (max-width: 999px) {
    body {
        overflow-x: hidden;

    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #2A2A72;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;    
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;

    }
}

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;    
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin: 10px;

}

.container div {
    flex: 1 1 300px;
}


footer {
    color: #2A2A72;
}

.farmacias{
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
}



.sobre {
    display: flex; align-items: center; justify-content: center; flex-wrap: wrap;
    width: 75%;
    margin: auto;
}


.sobre .cartao {
    display: flex; justify-content: center; flex-wrap: wrap;
    width: 180px; min-height: 200px; max-height: 200px;
    padding: 10px; border-top: 8px solid #FFA400;

    margin: 25px 50px;

    background-color: #cecece;
}
.cartao div{
    display: flex; justify-items: center; flex-wrap: wrap;
}

.cartao p {
    width: 100%;
    text-align: center;
}

.sobre img{
    min-width: 150px; max-width: 150px; min-height: 150px; max-height: 150px;
    border-radius: 100%;
}

.contador {
    color: #2A2A72;
}